nav {
  height: 75px;
  background: linear-gradient(to top, var(--main-blue), var(--main-purple));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#logo-img {
  width: 25px;
  height: 25px;
  margin: 0 35px;
}

.nav-logo h2 {
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  background: linear-gradient(to right, var(--main-orange), var(--main-dark-blue), var(--main-purple));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease-in-out, transform 0.3s ease, opacity 0.3s ease-in-out;
}

.nav-logo h2:hover {
  transform: scale(1.05);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  list-style-type: none;
  opacity: 0.6;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
  opacity: 1;
  background-color: var(--main-blue);
  border-radius: 50px;
  transition: all 0.3s;
}

/* Button */
.about-btn {
  background-color: var(--main-orange);
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  right: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.about-btn:hover {
  background-color: var(--main-blue);
  color: black;
  transform: translateY(-3px);
}

.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

/* responsive */

@media (max-width:780px) {


  .menuIcon {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 4rem;

  }


  .about-btn {
    display: none;
  }

  .menu-web {
    display: none;
    text-align: end;
  }

  .menu-mobile ul li a {
    font-size: 2rem;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-mobile {
    display: flex;
    justify-content: center;

    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
    background: linear-gradient(to top, var(--main-orange), var(--main-blue));
    overflow: hidden;
    gap: 30px;

    z-index: 1000;
  }
}