
/* Section layout */
#about {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: #333;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 3rem;
}

/* Image section */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-pic {
  width: 28rem;
  height: 28rem;
  object-fit: cover;
}

.about-pic:hover {
  transform: scale(1.05);
  border-radius: 20px ;
  box-shadow: 0 0 35px rgba(183, 163, 227, 0.9);
}

/* Text section */
.about-text {
  flex: 1.2;
  background: radial-gradient( circle at bottom, var(--main-orange),transparent 60%);
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.about-text h2 {
  font-size: 2.5rem;
  color: var(--main-purple);
  margin-bottom: 0.5rem;
}

.about-text h3 {
  font-size: 1.5rem;
  color: var(--main-orange);
  margin-bottom: 1.5rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 1rem;
}




/* Responsive design */

@media screen and (max-width:780px) {

  #about{
    position: relative;
    right: 0.2rem;
    overflow: hidden;
    width: 85%;
  }
  .about-image, .about-pic{
    width: 18rem;
    height: 18rem;
  }
}