*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
  --main-orange: #ff8f8f;
  --main-yellow: #f5f5f0;
  --main-blue: #c2e2fa;
  --main-purple: #b7a3e3;
  --main-dark-blue: #374bd1;


}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  height: 100%;
scrollbar-width: none;

}
body ::-webkit-scrollbar{
  display: none;
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}